/* tags */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
  transition: color 0.5s ease;
}

a:hover {
  color: #888;
}

body {
  font-family: 'Open Sans', arial,sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #eee, #fff);
  background-attachment: fixed;
  letter-spacing: 0.03em;
}

p {
  font-size: 14px;
  margin: 0;
  color: #aaa;
}

h3 {
  margin: 0.5em 0;
}

button {
  padding: 1em 2em;
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
}

button.remove {
  background-color: #ff0000;
  color: white;
}

button.remove:hover {
  background-color: #cc0000;
}

#app {
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main > div {
  width: 100%;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}

form button {
  color: white;
  background-color: #59A9E9;
}

form button:hover {
  background-color: #59A9C2;
}

form button:disabled {
  background-color: #ccc;
}

/* utility/layout */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  padding: 1em 2em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: red;
  color: white;
  margin-top: 1em;
}

.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: #ff0bdd;
  color: white;
  margin-left: 1em;
}

/* MINE */

.navbar {
  width: 100%;
  height: 80px;
  /* background-color: black; */
  background: rgba(100,44,298,0.6);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navElement {
  color: white;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.navElement:hover {
  color: black;
  background: thistle;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.home > div {
  width: 70%;
}

.summary {
  display: flex;
  flex-direction: column;
  background: rgba(100,44,298,0.6);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: lavenderblush;
  border-radius: 10px;
  padding: 10px;
}

.singleArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(100,44,298,0.6);
  color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;

}


.title {
  color: white;
  padding: 15px;
  font-size: 30px;
}

.diagrams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.diagrams > img {
  width: 60vw;
  height: 40vw;
  padding: 1vw;

}

.comments {
  background: rgba(100,44,298,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-top: 20px;
  border-radius: 10px;

}

.singleComment {
  margin: 20px 20px 20px 20px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  
}